# Data Type Conversions in Python
## Introduction

Data type conversions, also known as type casting, allow you to change the data type of a variable from one type to another. Python provides various functions and methods to perform these conversions. In this notebook, we'll explore different types of data type conversions in Python.

## Implicit vs. Explicit Conversions

### Implicit Conversions

Implicit conversions, also known as automatic type conversions, occur automatically when Python converts one data type to another without explicit user intervention. These conversions are typically safe and do not result in data loss.

### Explicit Conversions

Explicit conversions, also known as type casting, require the user to specify the desired data type. These conversions may result in data loss if not done carefully.
Common Data Type Conversions
Integer to Float

You can convert an integer to a float using explicit conversion.

In [1]:
int_num = 42
float_num = float(int_num)

### Float to Integer

You can convert a float to an integer using explicit conversion. Be aware that the decimal part will be truncated.

In [2]:
value = 3.5

print(int(3.6))

3

In [4]:
float_num = 3.2 # int = simple numbers

int_num = int(float_num)

print(int_num)

3

### Integer to String

You can convert an integer to a string using explicit conversion.

In [6]:
str_num = "42"

int_num = int(str_num)

print(int_num)

42

In [7]:
num = "a"
int_num = int(num)

ValueError: invalid literal for int() with base 10: 'a'

### Float to String

You can convert a float to a string using explicit conversion.

In [8]:
float_num = 3.14

str_num = str(float_num)

### String to Float

You can convert a string to a float using explicit conversion if the string contains a valid floating-point number.

In [9]:
str_num = "3.14"

float_num = float(str_num)

## Conclusion

Data type conversions are essential in Python to work with different data types and perform operations effectively. Understanding when and how to use implicit and explicit conversions is crucial for writing robust and flexible Python programs.

Feel free to experiment with different data type conversions to practice and solidify your understanding.

In [3]:
value = 3.5

print(int(value))

3

In [7]:
value = "abc"

print(int(value))

ValueError: invalid literal for int() with base 10: 'abc'