# Variables, and Data Types

### In this notebook you will find examples for Variable naming, Integers, Floats, Booleans and Strings

#### Varaibles

In [ ]:
# The below exaples are for rule # 1

In [ ]:
marks = 200
print(marks)

In [ ]:
1marks = 200
print(marks)

In [ ]:
# This example is for rule # 2
m12arks = 200
print(marks)

In [ ]:
# The below examples are for Third Rule which says case matters

In [3]:
age = 25
print("1st : ", age)
     
Age = 15
print("2nd : ", Age)

aGe = 20
print("3rd : ", aGe)

AGE = 25
print("4th : ", AGE)

1st :  25
2nd :  15
3rd :  20
4th :  25

In [1]:
# try more examples for each rule

### Integers

In [ ]:
height = 10
print("The type of Height is : ", type(height))
print("The value of Height is : ", height)

### Floats

In [ ]:
weight = 20.5
print("The type of Weight is : ", type(weight))
print("The value of Weight is : ", weight)

### Booleans

In [ ]:
good = True
print("The type of good is : ", type(good))
print("The value of good is : ", good)

In [6]:
# This is a boolean statement
print("1 is euqal to 1?: ", 1 == 1 )
print("2 is euqal to 1?: ", 2 == 1 )

# Remember the equvalence operator?

1 is euqal to 1?:  True
2 is euqal to 1?:  False

### Strings

In [ ]:
message = "Hello World"
print(message)

In [ ]:
# A string is anything written in quotes " ", ' '